body {
  margin: 0;
  font-family: "Monaco", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbf15c;
}

code {
  font-family: "Monaco", monospace;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: inline;
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: rgb(47, 133, 239);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: red;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1ac2ff;
}

.pokemons-list {
  background-color: rgb(47, 133, 239) !important;
  border: 2px solid red;
  height: 275px;
  overflow: auto;
}
